*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colour_1: rgb(39, 39, 39);
    --colour_2: rgb(56, 56, 56);
    --colour_3: rgb(184, 184, 184);
    --colour_4: rgb(240, 240, 240);
    --colour_5: rgb(29, 190, 150);
}

.help_page{
    width: 100%;
    min-height: 100vh;
    background-color: var(--colour_2);
    display: flex;
    justify-content: end;
}

.help_page_container{
    width: 90%;
    background-color: var(--colour_2);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.help_page_container_title{
    color: var(--colour_4);

    font-size: 1.5rem;
    padding-top: 5%;
    padding-bottom: 5%;
}

.help_page_examples{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.example_image{
    border: solid;
    border-color: var(--colour_4);
    border-width: 2px;
    border-radius: 5px;
    width: 90%;

}

.help_page_text{

    width: 90%;
    color: var(--colour_4);

    font-size: 1rem;
    line-height: 2rem;
    padding-top: 5%;
    padding-bottom: 5%;
    
}

.help_page_item_examples{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .help_page_container{
        width: 100%;
    }
    
}